* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
}

/*  */

:root {
  --page-content-width: 92%;
  --jet: rgba(51, 51, 51, 1);
  --davys-gray: rgba(78, 78, 78, 1);
  --battleship-gray: rgba(156, 156, 156, 1);
  --silver: rgba(167, 167, 167, 1);
  --cool-gray: #8695b2ff;
  --battleship-gray-2: rgba(134, 134, 134, 1);
  --drab-dark-brown: #554733ff;
  --raisin-black: #29292bff;
  --eerie-black: #1e2124ff;
  --night: #0f0e10ff;
  --magenta-pantone: #c8427bff;
  --red-munsell: #ec193cff;
  --burnt-sienna: #eb6739ff;
}

body,
#root {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0 0;
  padding: 0 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
}

.page-header {
  text-align: center;
}

.page-inner-container {
  width: 96%;
  margin: 10px auto 0;
  background-color: var(--cool-gray);
  display: flex;
  justify-content: space-between;
}
